// Переменные для шрифтов
$font-accent: "Impact", Times, serif;
$font-default: "Roboto", Arial, Helvetica, sans-serif;


// Переменные для цвета
$accent: #efa714;
$text: #3c3c3c;
$green: #60ab28;
$white: #ffffff;


// Прочие переменные
$slowdown: all 0.3s ease;