// Переменные для шрифтов
$font-accent: "Times New Roman", Times, serif;
$font-default: "Roboto-D", Arial, Helvetica, sans-serif;


// Переменные для цвета
$accent: #ff0000;
$text: #000000;
$grey: #888888;
$white: #ffffff;


// Прочие переменные
$slowdown: all 0.3s ease;