@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/Roboto-Bold.eot);
  src: url(../fonts/Roboto-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/Roboto-Bold.woff) format("woff"),url(../fonts/Roboto-Bold.woff2) format("woff2");
  font-display: swap
}
@font-face {
  font-family: Roboto;
  font-weight: 900;
  font-style: normal;
  src: url(../fonts/Roboto-Black.eot);
  src: url(../fonts/Roboto-Black.eot?#iefix) format("embedded-opentype"),url(../fonts/Roboto-Black.woff) format("woff"),url(../fonts/Roboto-Black.woff2) format("woff2");
  font-display: swap
}
@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Roboto-Regular.eot);
  src: url(../fonts/Roboto-Regular.eot?#iefix) format("embedded-opentype"),url(../fonts/Roboto-Regular.woff) format("woff"),url(../fonts/Roboto-Regular.woff2) format("woff2");
  font-display: swap
}
@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/Roboto-Medium.eot);
  src: url(../fonts/Roboto-Medium.eot?#iefix) format("embedded-opentype"),url(../fonts/Roboto-Medium.woff) format("woff"),url(../fonts/Roboto-Medium.woff2) format("woff2");
  font-display: swap
}
@font-face {
  font-family: Impact;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Impact.eot);
  src: url(../fonts/Impact.eot?#iefix) format("embedded-opentype"),url(../fonts/Impact.woff) format("woff"),url(../fonts/Impact.woff2) format("woff2");
  font-display: swap
}
@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  14% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25)
  }
  28% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  42% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25)
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}
@keyframes zoom {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  14% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25)
  }
  28% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  42% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25)
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}
::-webkit-input-placeholder {
  color: #666
}
::-moz-placeholder {
  color: #666
}
:-ms-input-placeholder {
  color: #666
}
::-ms-input-placeholder {
  color: #666
}
::placeholder {
  color: #666
}
::-moz-selection {
  background-color: #efa714;
  color: #fff
}
::selection {
  background-color: #efa714;
  color: #fff
}
html {
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}
body {
  position: relative;
  min-width: 320px;
  overflow: hidden;
  font-weight: 400;
  font-size: 16px;
  font-family: Roboto,Arial,Helvetica,sans-serif;
  line-height: 1.2;
  color: #3c3c3c
}
body input,
body textarea {
  border: #666 1px solid;
  outline: 0
}
img {
  display: block;
  max-width: 100%;
  height: auto
}
b,
strong {
  font-weight: 700
}
.btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  padding: 22px 50px 18px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #efa714;
  background: -webkit-gradient(linear,left bottom,left top,from(#dc8300),to(#f0a914));
  background: -o-linear-gradient(bottom,#dc8300,#f0a914);
  background: linear-gradient(to top,#dc8300,#f0a914);
  border: none;
  border-radius: 40px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer
}
.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -70px;
  z-index: 1;
  width: 40px;
  height: 90px;
  background: -webkit-gradient(linear,left top,right top,from(rgba(255,255,255,.02)),to(rgba(255,255,255,.7)));
  background: -o-linear-gradient(left,rgba(255,255,255,.02),rgba(255,255,255,.7));
  background: linear-gradient(90deg,rgba(255,255,255,.02),rgba(255,255,255,.7));
  -webkit-transform: skewX(30deg);
  -ms-transform: skewX(30deg);
  transform: skewX(30deg)
}
.btn__text {
  text-transform: uppercase
}
.btn__text_bottom {
  font-weight: 500;
  font-size: 16px;
  text-transform: lowercase
}
.btn:hover {
  color: #fff;
  text-decoration: none
}
.btn:hover::before {
  left: 280px;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease
}
h1,
h2,
h3,
h4 {
  margin-top: 0;
  font-weight: 700;
  line-height: 1.2
}
p {
  margin-top: 0
}
.title-text {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 30px;
  font-family: Impact,Times,serif;
  color: #6c6c6c;
  text-align: center;
  line-height: 1.2
}
.text-accent {
  color: #efa714
}
.text-green {
  color: #60ab28
}
.text-red {
  color: red
}
.text-bold {
  font-weight: 700
}
.text-black {
  font-weight: 900
}
.text-up {
  text-transform: uppercase
}
.text-nowrap {
  white-space: nowrap
}
.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px
}
.section {
  padding: 50px 0
}
.wrap-top {
  position: relative;
  max-width: 1380px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #69afcd;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#69afcd),color-stop(40%,#69afcd),to(#fff));
  background: -o-linear-gradient(top,#69afcd 0,#69afcd 40%,#fff);
  background: linear-gradient(to bottom,#69afcd 0,#69afcd 40%,#fff)
}
.wrap-top::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 50%;
  background: -webkit-gradient(linear,left top,right top,from(white),to(rgba(255,255,255,.01)));
  background: -o-linear-gradient(left,#fff,rgba(255,255,255,.01));
  background: linear-gradient(to right,#fff,rgba(255,255,255,.01))
}
.wrap-top__home {
  position: absolute;
  right: -10px;
  bottom: 20px;
  width: 920px;
  height: 570px;
  background-image: url(../img/top__img.png);
  background-position: right center;
  background-size: contain;
  background-repeat: no-repeat
}
.wrap-top__cloud {
  position: absolute;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat
}
.wrap-top__cloud_1 {
  top: 10%;
  left: 22%;
  width: 240px;
  height: 77px;
  background-image: url(../img/cloud_1.png)
}
.wrap-top__cloud_2 {
  bottom: -50px;
  left: 20px;
  width: 510px;
  height: 450px;
  background-image: url(../img/cloud_2.png)
}
.wrap-top__cloud_3 {
  bottom: -40px;
  right: 0;
  width: 285px;
  height: 250px;
  background-image: url(../img/cloud_3.png)
}
.header {
  position: relative;
  z-index: 1
}
.header__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100px
}
.header__logo {
  display: block;
  width: 220px;
  font-weight: 500;
  color: #909090
}
.top {
  padding: 20px 0 50px
}
.top__wrap {
  position: relative;
  z-index: 1;
  width: 50%
}
.top__title {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 38px;
  font-family: Impact,Times,serif
}
.top__date {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 24px
}
.top__text {
  margin-bottom: 20px;
  font-size: 24px
}
.top__btn {
  margin-bottom: 20px
}
.top__note {
  margin-bottom: 0
}
.top__stamp {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  left: 330px;
  width: 140px;
  height: 140px;
  background-image: url(../img/stamp.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat
}
.top__sale {
  position: absolute;
  right: 0;
  top: 40%;
  width: 120px;
  height: 120px;
  padding-top: 16px;
  padding-bottom: 30px;
  line-height: 1;
  color: #fff;
  text-align: center;
  background-color: #efa714;
  border-radius: 50%
}
.top__sale::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  z-index: 1;
  width: 105px;
  height: 105px;
  background-color: #efa714;
  border-radius: 45% 45% 0 45%;
  -webkit-transform: translateX(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg)
}
.top__sale-wrap {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}
.top__sale_big {
  font-weight: 900;
  font-size: 44px
}
.top__sale_small {
  font-size: 12px;
  line-height: 1.2
}
.instruction {
  padding-top: 50px
}
.instruction__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.instruction__block_image {
  position: relative;
  width: 50%;
  min-height: 490px
}
.instruction__block_text {
  width: 50%;
  margin-left: 50px
}
.instruction__image {
  width: 520px
}
.instruction__picture {
  position: absolute;
  right: 0;
  top: 250px;
  width: 315px;
  height: 240px
}
.instruction__uptitle {
  margin-bottom: 0;
  font-size: 24px
}
.instruction__title {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 30px;
  font-family: Impact,Times,serif;
  color: #60ab28
}
.instruction__subtitle {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px
}
.instruction__lst {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 360px;
  margin-bottom: 45px
}
.instruction__lst-item {
  position: relative;
  padding-left: 8px;
  font-size: 18px;
  line-height: 1.1
}
.instruction__lst-item::before {
  content: '-';
  position: absolute;
  top: 0;
  left: 0
}
.instruction__msngs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.radio-msngs {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 30px;
  padding: 10px 0;
  padding-left: 35px
}
.radio-msngs__input {
  position: absolute;
  left: 0;
  opacity: 0
}
.radio-msngs__input:checked + .radio-msngs__label::after {
  opacity: 1
}
.radio-msngs__label {
  position: relative;
  cursor: pointer
}
.radio-msngs__label::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -30px;
  width: 20px;
  height: 20px;
  border: 2px solid #b2b2b2;
  border-radius: 50%;
  background: #fff;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}
.radio-msngs__label::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -25px;
  z-index: 1;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #60ab28;
  opacity: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.radio-msngs__label svg {
  width: 50px;
  height: 50px
}
.producer__lst {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.producer__item_deka {
  margin-bottom: 20px
}
.producer__image {
  width: 125px
}
.dealer {
  position: relative;
  background-image: url(../img/dealer/bg__image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed
}
.dealer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.85)
}
.dealer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 240px;
  margin: 0 auto
}
.dealer .swiper-container {
  width: 800px
}
.dealer .swiper-button-next,
.dealer .swiper-button-prev {
  display: none;
  top: auto;
  bottom: 0;
  width: 60px;
  height: 60px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.dealer .swiper-button-next::after,
.dealer .swiper-button-prev::after {
  display: none
}
.dealer .swiper-button-next svg,
.dealer .swiper-button-prev svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  fill: #efa714;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
.dealer .swiper-button-next {
  right: 0
}
.dealer .swiper-button-prev {
  left: 0
}
.dealer .swiper-button-prev svg {
  -webkit-transform: translate(-50%,-50%) rotate(180deg);
  -ms-transform: translate(-50%,-50%) rotate(180deg);
  transform: translate(-50%,-50%) rotate(180deg)
}
.guarantee {
  position: relative
}
.guarantee::after,
.guarantee::before {
  content: '';
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%
}
.guarantee::before {
  left: 0;
  background-color: #2e3d48
}
.guarantee::after {
  right: 0;
  background-color: #efa714
}
.guarantee__container {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.guarantee__block_stamp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 20%;
  padding: 10px 15px 10px;
  background-color: #2e3d48
}
.guarantee__block_text {
  width: 80%;
  padding: 35px 40px;
  background-color: #efa714
}
.guarantee__stamp {
  width: 120px
}
.guarantee__text {
  margin-bottom: 0;
  font-size: 32px;
  font-family: Impact,Times,serif;
  line-height: 1.2;
  color: #ffe7ae
}
.guarantee__text_white {
  color: #fff
}
.features {
  padding-top: 80px;
  padding-bottom: 20px
}
.features__wrap {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 360px;
  padding: 40px;
  border: 1px solid #c8c8c8
}
.features__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 75px;
  height: 75px;
  margin-bottom: 35px;
  background-color: #60ab28;
  border-radius: 50%
}
.features__icon svg {
  width: 45px;
  height: 45px;
  fill: #fff
}
.features__text {
  font-weight: 500;
  font-size: 18px;
  text-align: center
}
.reviews {
  padding-bottom: 80px
}
.reviews__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 70px
}
.reviews__lst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none
}
.reviews__lst-item {
  margin-right: 60px
}
.reviews__yandex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 245px;
  flex: 1 0 245px;
  padding: 50px;
  font-size: 24px;
  color: #000;
  text-align: center;
  text-decoration: none;
  background-color: #ffcc42;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.reviews__yandex:hover {
  background-color: #ffbe0f
}
.review__header {
  position: relative;
  margin-bottom: 15px;
  padding-left: 100px
}
.review__foto {
  position: absolute;
  top: 50%;
  left: 0;
  width: 77px;
  height: 77px;
  overflow: hidden;
  background-color: #f1f1f1;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}
.review__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px 0
}
.review__inner svg {
  width: 15px;
  height: 15px;
  fill: #efa714
}
.review__name {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 18px;
  color: #6c6c6c
}
.review__text {
  line-height: 1;
  color: #9d9d9d
}
.review__link {
  display: block;
  color: #61ab2a;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.review__link:hover {
  color: #3e6e1b
}
.contacts {
  padding: 80px 0;
  background-color: #2e3d48
}
.contacts__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px
}
.contacts__block {
  width: 50%
}
.contacts__block_content {
  padding: 60px 50px;
  background-color: #fff
}
.contacts__block_map {
  background-image: url(../img/map.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat
}
.contacts__title {
  text-align: left
}
.contacts__lst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none
}
.contacts__item {
  position: relative;
  padding-left: 35px
}
.contacts__item:not(:last-child) {
  margin-bottom: 20px
}
.contacts__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px
}
.contacts__icon svg {
  width: 20px;
  height: 20px;
  fill: #efa714
}
.contacts__icon svg.big {
  width: 24px;
  height: 24px
}
.contacts__text {
  font-weight: 500;
  font-size: 18px;
  color: #6c6c6c
}
.contacts__link {
  font-weight: 500;
  font-size: 18px;
  color: #6c6c6c;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.contacts__link:hover {
  color: #efa714
}
.footer {
  padding: 50px 0;
  background-color: #26333c
}
.footer__wrap {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-align: center
}
.footer__wrap p {
  margin-top: 0;
  margin-bottom: 0
}
.footer__wrap p:not(:last-child) {
  margin-bottom: 10px
}
.footer__wrap a {
  color: #fff;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  text-decoration: underline
}
.footer__wrap a:hover {
  color: #ccc
}
@media screen and (max-width:1200px) {
  .container {
    max-width: 960px
  }
}
@media screen and (max-width:992px) {
  .container {
    max-width: 760px;
    padding: 0 15px
  }
}
@media screen and (max-width:768px) {
  .container {
    max-width: 540px;
    padding: 0 10px
  }
}
@media screen and (max-width:576px) {
  .container {
    max-width: 320px
  }
}
/*# sourceMappingURL=main.css.map */
