section.contacts
  .container
    .contacts__wrap
      .contacts__block.contacts__block_content
        h3.title-text.contacts__title Контакты
        ul.contacts__lst
          li.contacts__item
            span.contacts__icon
              +svg('pin').big
            span.contacts__text Москва, Дмитровское шоссе, <span class="text-nowrap">д.71Б, офис 624</span>
          li.contacts__item
            span.contacts__icon
              +svg('mail')
            a(class="contacts__link" href="mailto:info@tochkaresheny.ru") info@tochkaresheny.ru
          li.contacts__item
            span.contacts__icon
              +svg('phone')
            a(class="contacts__link" href="tel:+74951277990") +7 (495) 127-79-90
          li.contacts__item
            span.contacts__icon
              +svg('calendar')
            span.contacts__text пн-пт с 09:00 до 19:00

      .contacts__block.contacts__block_map