section.features
  .container
    ul.features__wrap
      li.features__item.wow
        span.features__icon
          +svg('certificate')
        span.features__text Все монтажники проходят специальное обучение
      li.features__item.wow(data-wow-delay="0.4s")
        span.features__icon
          +svg('search')
        span.features__text Двойной контроль за бригадой монтажников на каждом этапе установки
      li.features__item.wow(data-wow-delay="0.8s")
        span.features__icon
          +svg('like')
        span.features__text.wow Делаем монтаж строго по нормативам производителя