footer.footer
  .container
    .footer__wrap
      p
        a(href="/") Политика конфиденциальности
      p 
        a(href="/") Пользовательское соглашение
      p 
        a(href="/") Согласие на обработку персональных данных
        
      p * Количество акционных мест ограничено и может отличаться от указанного в описании акции.<br> Реклама. Не является публичной офертой.

script(src="./js/scripts.min.js")
script(src="./js/main.js")