section.guarantee
  .container.guarantee__container
    .guarantee__block.guarantee__block_stamp
      +image('', '5-years', 'Печать', 'Печать гарантии на 5 лет', 'png')(class="guarantee__stamp")
    .guarantee__block.guarantee__block_text
      p.guarantee__text Несем ответственность за монтаж и даем <span class="guarantee__text_white">5 лет гарантии на безотказную работу септика</span>
