section.section.producer
  .container
    h3.title-text.tt_1 Подбираем станции из <span class="text-green">678</span> моделей<br> <span class="text-green">6</span> ведущих производителей
    ul.producer__lst
      li.producer__item.producer__item_deka
        +image('producer/', '1', 'Логотип компании', 'Deka', 'png')(class="producer__image")
      li.producer__item
        +image('producer/', '2', 'Логотип компании', 'ТВЕРЬ', 'png')(class="producer__image")
      li.producer__item
        +image('producer/', '3', 'Логотип компании', 'KoloVesi', 'png')(class="producer__image")
      li.producer__item
        +image('producer/', '4', 'Логотип компании', 'ТОПОЛЭКО', 'png')(class="producer__image")
      li.producer__item
        +image('producer/', '5', 'Логотип компании', 'Евролос', 'png')(class="producer__image")
      li.producer__item
        +image('producer/', '6', 'Логотип компании', 'ЮНИЛОС', 'png')(class="producer__image")
