section.section.reviews
  .container
    h2.title-text.tt_3 Читайте честные <span class="text-green">отзывы</span> о нас
    .reviews__wrap
      ul.reviews__lst
        li.reviews__lst-item.review
          .review__header
            .review__foto
            .review__inner
              span.review__name Александр С.
              span 
                +svg('star')
                +svg('star')
                +svg('star')
                +svg('star')
                +svg('star')
          .review__text В начале июня обратились в компанию Точка Решений для установки септика. Через несколько дней приехал представитель компании, грамотно все объяснил, помог с выбором септика и составил
            a(class="review__link" href="/") ещё
        li.reviews__lst-item.review
          .review__header
            .review__foto
            .review__inner
              span.review__name Александр С.
              span 
                +svg('star')
                +svg('star')
                +svg('star')
                +svg('star')
                +svg('star')
          .review__text Заказал станция отчистки Оптима 4, ребята приехали и установили 27.04.2020 в Сергиевом посадском районе деревня ВОРОНЦОВО снт Северянин. Отдельную благодарность хочу
            a(class="review__link" href="/") ещё
      
      a.reviews__yandex.wow(href="/")
        span Смотреть все отзывы на <span class="text-bold"><span class="text-red">Я</span>ндекс</span>