section.top
  .container
    .top__sale
      span.top__sale-wrap Акция
        span.top__sale_big 80%
        span.top__sale_small Скидка на<br> установку
    .top__stamp.wow(data-wow-delay="2s")
    .top__wrap
      h1.top__title Подберите подходящую модель септика по приемлемой цене у официального дилера за 1 минуту
      p.top__date Воспользуйтесь шансом до 13 августа
      p.top__text Закрепите скидку и подберите септик<br> из 678 моделей от 6 ведущих<br> производителей прямо сейчас
      button.btn.top__btn.wow 
        span.btn__text Подобрать септик
        span.btn__text.btn__text_bottom ответив на 6 вопросов
      .top__note Подбор качественный и бесплатный<br> Данные защищены
      
      
      
      