include mixins/mixins.pug

doctype html

html
  include blocks/head.pug

  body
    .wrap-top
      .wrap-top__home
      .wrap-top__cloud.wrap-top__cloud_1
      .wrap-top__cloud.wrap-top__cloud_2
      .wrap-top__cloud.wrap-top__cloud_3

      include blocks/header.pug
      include blocks/top.pug

    include blocks/instruction.pug
    include blocks/producer.pug
    include blocks/dealer.pug
    include blocks/guarantee.pug
    include blocks/features.pug
    

    section.section-name
      .container

    include blocks/footer.pug