include mixins/mixins.pug

doctype html

html
  include blocks/head.pug

  body
    include blocks/header.pug

    section.top
      .container

    section.section-name
      .container

    section.section-name
      .container

    section.section-name
      .container

    include blocks/footer.pug